[submodule "extern/midapack"]
	path = extern/midapack
	url = https://github.com/sbiquard/midapack
	branch = gaps-maxL
[submodule "extern/toast"]
	path = extern/toast
	url = https://github.com/sbiquard/toast
[submodule "extern/sotodlib"]
	path = extern/sotodlib
	url = https://github.com/sbiquard/sotodlib
	branch = sb/pairdiff
