[submodule "toast"]
	path = toast
	url = https://github.com/sbiquard/toast
[submodule "midapack"]
	path = midapack
	url = https://github.com/B3Dcmb/midapack
	branch = gaps
[submodule "sotodlib"]
	path = sotodlib
	url = https://github.com/simonsobs/sotodlib
