[submodule "toast"]
	path = toast
	url = https://github.com/sbiquard/toast
[submodule "midapack"]
	path = midapack
	url = https://github.com/B3Dcmb/midapack
	branch = gaps-maxL
[submodule "sotodlib"]
	path = sotodlib
	url = https://github.com/sbiquard/sotodlib
	branch = sb/pairdiff
